.filter-header{
  background-color: #C6D8EE;
  padding: 8px 0;
}

.filter-left{
  display: flex;
  justify-content: right;
  list-style: none;
  padding: 0;
  margin: 0 0.3rem 0 0;
}
.city-label{
  align-self: center;
  margin-right: 1rem;
}
.header-city-drop{
  width: 210px !important;
}
.search{
  position: relative;
}
.search .search-icon{
  position: absolute;
  top: 3px;
  left: 15px;
}
.search input{
  padding-left: 2.6rem;
  font-size: 14px;
}
.left-space{
  margin-left: 0.5rem;
}
.left-border{
  border-left: 1.5px solid #94B7DF;
  margin-left: 8px;
  padding-left: 8px;
}
.add-new{
  font-size: 13px;
  background: #fff;
  padding: 5px 7px;
  border-radius: 3px;
  cursor: pointer;
}
.add-new1{
  text-decoration: none;
  color: #0c0c0c;
  font-weight: 500;
}
.add-new img{
  vertical-align: inherit;
  height: 11px;
  margin-right: 6px;
}
.single-line-grid{
  background: #0077BD;
  padding: 5px 9px;
  border-radius: 3px 0 0 3px;
  margin-right: -4px;
  cursor: pointer;
}
.grid-icon{
  background: #fff;
  padding: 5px 9px;
  border-radius: 0 3px 3px 0;
  height: 26px;
  cursor: pointer;
}
.sort-img{
  height: 18px;
  align-self: center;
  margin-left: 0.5rem;
}
@media (max-width: 991px){
  .nav-item{
      margin-bottom: 1rem;
  }
  .filter-left{
      justify-content: flex-start;
  }
}
@media (min-width:992px){
  .self-align{
      align-self: center;
  }
  .left-margin{
      margin-left: 16%;
  }
}

table {
    width: 100%;
  }

  .hidden {
    display: none;
  }
  
  .info-text {
    margin-left: 20px;
    font-size: 14px;
    padding-bottom: 5px;
  }
  ::ng-deep{
    .cdk-overlay-pane{
      position: absolute;
      background: #fff;
      width: 105px;
    }
      .cdk-describedby-message-container{
        display: none;
      }
    
  }
  .spl-width{
    min-width: 185px !important;
  }
  .no-border{
    border: none !important;
    background-color: transparent !important;
  }
  .btn-spacing{
    padding: 3px 12px;
    border-radius: 4px;
  }